cbrain/manager.log
brain/src/brain/__pycache__/settings.cpython-311.pyc
brain/src/brain.egg-info/PKG-INFO
brain/src/brain.egg-info/requires.txt
__pycache__/**
brain.egg-info/**
brain/src/brain/__pycache__/__init__.cpython-313.pyc
brain/src/brain/__pycache__/connection.cpython-313.pyc
brain/src/brain/__pycache__/controller.cpython-313.pyc
brain/src/brain/__pycache__/fast_api.cpython-313.pyc
brain/src/brain/__pycache__/manager.cpython-313.pyc
brain/src/brain/__pycache__/routes.cpython-313.pyc
brain/src/brain/__pycache__/settings.cpython-313.pyc
brain/src/brain/tools/__pycache__/tools.cpython-313.pyc
brain/src/brain.egg-info/dependency_links.txt
brain/src/brain.egg-info/SOURCES.txt
brain/src/brain.egg-info/top_level.txt
